{% extends "includes/header_nav.html" %}
{% block title %}FAQ{% endblock %}
{% block headline %}Frequently Asked Questions{% endblock %}
{% block breadcrumbs %}FAQ{% endblock %}
{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">FAQ</h5>

            <!-- Accordion without outline borders -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                aria-expanded="false" aria-controls="flush-collapseTwo">
                            How to generate texts?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is
                            intended to demonstrate the <code>.accordion-flush</code> class. This is the
                            second item's accordion body. Let's imagine this being filled with some
                            actual content.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                aria-expanded="false" aria-controls="flush-collapseThree" >
                            What can I use "Information Gain" for?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is
                            intended to demonstrate the <code>.accordion-flush</code> class. This is the
                            third item's accordion body. Nothing more exciting happening here in terms
                            of content, but just filling up the space to make it look, at least at first
                            glance, a bit more representative of how this would look in a real-world
                            application.
                        </div>
                    </div>
                </div>
            </div><!-- End Accordion without outline borders -->

        </div>
    </div>

</div>

{% endblock %}