{% extends "includes/header_nav.html" %}
{% block title %}Dashboard{% endblock %}
{% block headline %}Dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<!-- Sales Card -->
<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Number of Files in Database</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-hdd-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{no_file}}</h6>
                                    <span class="text-muted small pt-2 ps-1">from </span>
                                    <span class="text-secondary small pt-1 fw-bold">{{no_file_sub}}</span>
                                    <span class="text-muted small pt-2 ps-1">Companies</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Number of Extracted Keywords</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-hash"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{no_keywords}}</h6>
                                    <span class="text-muted small pt-2 ps-1">in </span>
                                    <span class="text-secondary small pt-1 fw-bold">{{no_keywords_sub}}</span>
                                    <span class="text-muted small pt-2 ps-1">Files</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Number of Generated Texts</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-vector-pen"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{no_texts}}</h6>
                                    <span class="text-muted small pt-2 ps-1">for </span>
                                    <span class="text-secondary small pt-1 fw-bold">{{no_texts_sub}}</span>
                                    <span class="text-muted small pt-2 ps-1">Companies</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Quick Start Guide</h5>

                            <!-- Accordion without outline borders -->
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                            Datasets
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is
                                            intended to demonstrate the <code>.accordion-flush</code> class. This is the
                                            first item's accordion body.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                aria-expanded="false" aria-controls="flush-collapseTwo">
                                            Text Generation
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is
                                            intended to demonstrate the <code>.accordion-flush</code> class. This is the
                                            second item's accordion body. Let's imagine this being filled with some
                                            actual content.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed " type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                                aria-expanded="false" aria-controls="flush-collapseThree">
                                            Information Gain
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                         aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is
                                            intended to demonstrate the <code>.accordion-flush</code> class. This is the
                                            third item's accordion body. Nothing more exciting happening here in terms
                                            of content, but just filling up the space to make it look, at least at first
                                            glance, a bit more representative of how this would look in a real-world
                                            application.
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Accordion without outline borders -->

                        </div>
                    </div>

                    <div class="card recent-sales">

                        <div class="card-body">
                            <h5 class="card-title">Phished Companies</h5>

                            <table class="table datatable">
                                <tr>
                                    {% for col in column_names %}
                                    <th>{{col}}</th>
                                    {% endfor %}
                                </tr>
                                {% for row in row_data %}
                                <tr>
                                    {% for col, cell in zip(column_names, row) %}
                                    {% if col == status_col %}
                                        {% if cell == 0 %}
                                        <td><span class="badge bg-success">Finished</span></td>
                                        {% elif cell == 1 %}
                                        <td><span class="badge bg-warning">In Progress</span></td>
                                        {% elif cell == 2 %}
                                        <td><span class="badge bg-danger">Failed</span></td>
                                        {% else %}
                                        <td><span class="badge bg-info">Not Available</span></td>
                                        {% endif %}
                                    {% elif col in ["ner", "tfidf", "word2vec"] %}
                                        {% if cell %}
                                            <td><span class="badge bg-success"><i class="bi bi-check-circle me-1"> Done</i></span></td>
                                        {% else %}
                                            <td><span class="badge bg-danger"> <i class="bi bi-dash-circle me-1"> Not Done</i></span></td>
                                        {% endif %}

                                    {% else %}
                                    <td>{{cell}}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- Most Common Keywords-->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Most Common Keywords</h5>

                    <!-- Doughnut Chart TODO https://stackoverflow.com/questions/11178426/how-can-i-pass-data-from-flask-to-javascript-in-a-template-->
                    <canvas id="doughnutChart" style="max-height: 400px;"></canvas>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            new Chart(document.querySelector('#doughnutChart'), {
                                type: 'doughnut',
                                data: {
                                    labels: ['{{donut_label[0]}}', '{{donut_label[1]}}', '{{donut_label[2]}}'],
                                    datasets: [{
                                        label: 'Most Common Keywords',
                                        data: ['{{donut_data[0]}}', '{{donut_data[1]}}', '{{donut_data[2]}}'],
                                        backgroundColor: [
                                            'rgb(68,68,68)',
                                            'rgb(230,144,48)',
                                            'rgb(46,143,183)'
                                        ],
                                        hoverOffset: 4
                                    }]
                                }
                            });
                        });
                    </script>
                    <!-- End Doughnut CHart -->

                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
