{% extends "includes/header_nav.html" %}
{% block title %}Information Gain{% endblock %}
{% block headline %}Execute Information Gain Process{% endblock %}
{% block breadcrumbs %}Information Gain{% endblock %}
{% block content %}
<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Select Entity</h5>

                    <!-- General Form Elements -->
                    <form action="/start_information_gain" method="post">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Select</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" name="entity_id">
                                    <option selected>Open this select menu</option>
                                    {% for entity, value in zip(entities, values) %}
                                    <option value="{{ value }}">{{entity}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Information Gain Process</legend>
                            <div class="col-sm-10">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck3" name="tf_idf">
                                    <label class="form-check-label" for="gridCheck3">
                                        TF-IDF
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck4" name="ner">
                                    <label class="form-check-label" for="gridCheck4">
                                        Named Entity Recognition (NER)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck5" name="word2vec">
                                    <label class="form-check-label" for="gridCheck5">
                                        Word2Vec
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Start</button>
                            </div>
                        </div>

                    </form>
                    {% if send %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <i class="bi bi-info-circle me-1"></i>
                        Process started
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock %}