{% extends "includes/form.html" %}
{% block title %}Text Generation{% endblock %}
{% block headline %}E-Mail{% endblock %}
{% block breadcrumbs %}Text Generation{% endblock %}
{% block content %}
<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Generate a E-Mail</h5>

                    <!-- General Form Elements -->
                    <form action="/start_information_gain" method="post">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Entity</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" name="entity_id">
                                    <option selected>Open this select menu</option>
                                    {% for entity, value in zip(entities, values) %}
                                    <option value="{{ value }}">{{entity}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="custom_name"
                                       placeholder="Call to action URL">
                            </div>
                        </div>

                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Level</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                           value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Formal
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                           value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Business
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                                           value="option3">
                                    <label class="form-check-label" for="gridRadios3">
                                        Casual
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Information from</legend>
                            <div class="col-sm-10">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck3" name="tf_idf">
                                    <label class="form-check-label" for="gridCheck3">
                                        TF-IDF
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck4" name="ner">
                                    <label class="form-check-label" for="gridCheck4">
                                        Named Entity Recognition (NER)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck5" name="word2vec">
                                    <label class="form-check-label" for="gridCheck5">
                                        Word2Vec
                                    </label>
                                </div>

                            </div>
                        </div>


                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Generate</button>
                            </div>
                        </div>

                    </form>
                    {% if send %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <i class="bi bi-info-circle me-1"></i>
                        Process started
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Select Keywords</h5>
                    <form>
                        <div class="row mb-5">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Select all Keywords
                                        input</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label class="col-sm-2 col-form-label">Keywords</label>
                            <div class="col-sm-10">
                                <select class="form-select" multiple aria-label="multiple select example">
                                    {% for keyword, id in zip(keywords, ids) %}
                                    <option value="{{ id }}">{{keyword}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}