flask
pandas
sqlalchemy
pdfminer
psycopg2-binary
spacy       # plus do following: python -m spacy download en_core_web_lg
yake
nltk
beautifulsoup4
huggingface-hub
numpy
torch
sklearn
lxml
# requests
transformers

