{% extends "includes/header_nav.html" %}
{% block content %}
<table class="table datatable">
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, cell in zip(column_names, row) %}
        {% if col == status_col %}
            {% if cell == 0 %}
                <td><span class="badge bg-success"><i class="bi bi-check-circle me-1"> Finished</i></span></td>
                {% elif cell == 1 %}
                <td><span class="badge bg-warning"><i class="bi bi-dash-circle me-1"> In Progress</i></span></td>
                {% elif cell == 2 %}
                <td><span class="badge bg-danger"><i class="bi bi-dash-circle me-1"> Not Done</i>Failed</span></td>
                {% else %}
                <td><span class="badge bg-info"><i class="bi bi-dash-circle me-1"> Not Available</i></span></td>
            {% endif %}
        {% elif col == "url" %}
            <td><a href="{{cell}}" target="_blank">{{cell}}</a></td>
        {% elif col in ["ner", "tfidf", "word2vec"] %}
            {% if cell %}
                <td><span class="badge bg-success"><i class="bi bi-check-circle me-1"> Done</i></span></td>
            {% else %}
                <td><span class="badge bg-danger"><i class="bi bi-dash-circle me-1"> Not Done</i></span></td>
            {% endif %}
        {% else %}
        <td>{{cell}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
